.castom-card {
}
.video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
main {
}
.movies {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;

  width: 100%;
}
.paginations {
  margin: 20px 0;
  width: 100%;
  display: flex;
  gap: 3px;
  justify-content: center;
}
.toglebtn {
  background-color: blue;
}
