.task {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-top: 20px;
  border: 1px solid black;
  padding: 5px;
  align-items: center;
}
input {
  margin-right: 20px;
  width: 60%;
  padding: 10px;
}
button {
  background-color: rgba(0, 0, 255, 0.419);
  padding: 10px;
  color: black;
}
