:root {
  --arrow-bg: rgba(255, 255, 255, 0.3);
  --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
  --option-bg: white;
  --select-bg: rgba(255, 255, 255, 0.2);
}
body {
  font-family: Helvetica;
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
}
.site-header {
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
  display: flex;
}

.site-identity h1 {
  font-size: 1.5em;
  margin: 0.6em 0;
  display: inline-block;
}

.site-navigation ul,
.site-navigation li {
  margin: 0;
  padding: 0;
}

.site-navigation li {
  display: inline-block;
  margin: 1.4em 1em 1em 1em;
}
h1 {
  color: burlywood;
}
h2 {
  font-weight: 200;
  font-size: 14px;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.maine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
main {
  background-image: url("./img/pexels-designecologist-1779487.jpg");
  height: 100vh;
  background-size: cover;
}
.contact-me {
  background-color: blue;
  color: white;
  padding: 10px;
  display: inline-block;
}
.git {
  color: white;
}
h2 {
  color: white;
}
.contact {
  margin-top: 20px;
  margin: 10px;
}
select {
  appearance: none;
  border: 0;
  outline: 0;
  background: none;
  color: inherit;
  box-shadow: none;
}
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: min(20rem, 90vw);
  background: var(--background-select);
  border-radius: 0.25rem;
  overflow: hidden;

  select {
    flex: 1;
    padding: 1em;
    cursor: pointer;
  }

  &::after {
    content: "\25BC";
    position: absolute;
    right: 1rem;
    top: 1rem;
    transition: 0.25s all ease;
    pointer-events: none;
  }

  &:hover::after {
    color: #f39c12;
    animation: bounce 0.5s infinite;
  }
}
